<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
  <section>
    <h2>[[${session['entity'].id} == 0 ? '新規会員登録' : '会員情報編集']]</h2>
    <form th:action="@{/customer/upsert}" method="post" th:object="${entity}">
     <ul>
      <li th:each="error:${#fields.detailedErrors()}">
        <span th:text="${error.message}"></span>
      </li>
    </ul>
    <input type="hidden" name="id" th:value="${session['entity'].id}">
      <div>
        <label for="name">お名前</label>
        <input type="text" name="name" id="name" th:value="${session['entity'].name}">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" th:value="${session['entity'].email}">
      </div>
      <div>
        <label for="password">パスワード</label>
        <input type="password" name="password" id="password" th:value="${session['entity'].password}">
      </div>
      <div>
        <label for="address">住所</label>
        <input type="text" name="address" id="address" th:value="${session['entity'].address}">
      </div>
      <div>
        <label for="tel">電話番号</label>
        <input type="tel" name="tel" id="address" th:value="${session['entity'].tel}">
      </div>
      <div>
        <select name="role">
          <option value="" disabled>選択してください</option>
          <option value="ROLE_EMPLOYER" th:selected="${session['entity'].role} == 'ROLE_EMPLOYER'">採用担当者</option>
          <option value="ROLE_SEEKER" th:selected="${session['entity'].role} == 'ROLE_SEEKER'">求職者</option>
        </select>
      </div>
      <input type="submit" th:value="${session['entity'].id} == 0 ? '登録' : '編集'">
    </form>
      <a th:href="@{/customer/delete(id=${session['entity'].id})}" th:if="${session['entity'].id} != 0"><input type="button" value="退会" onClick="return confirm('ユーザー情報を削除しても宜しいですか？')"></a>
  </section>
</div>
</html>