<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
  <section class="col-md-8 mx-auto pdd">
    <h2>この内容で宜しいですか？</h2>
    <table class="table">
      <tr>
        <th>タイトル</th>
        <td>[[${session['job'].title}]]</td>
      </tr>
      <tr>
        <th>会社名</th>
        <td>[[${session['job'].company}]]</td>
      </tr>
      <tr>
        <th>給与</th>
        <td>[[${session['job'].min_salary}]]円〜[[${session['job'].max_salary}]]円</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>[[${session['job'].description}]]</td>
      </tr>
    </table>
    <form th:action="@{/job/upsert_confirm}" method="post">
      <input class="btn btn-success" type="submit" name="button" value="戻る">
      <input class="btn btn-success" type="submit" name="button" value="OK">
    </form>
  </section>
</div>
</html>