<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
  <section class="col-md-8 mx-auto pdd">
    <div class="mt-1" th:each="offer : ${offerList}">
      <table class="table table-dark">
        <tr>
          <th>求人</th>
          <td>[[${offer.title}]]</td>
        </tr>
        <tr>
          <th>応募日時</th>
          <td>[[${offer.datetime}]]</td>
        </tr>
        <tr>
          <th>会社名</th>
          <td>[[${offer.company}]]</td>
        </tr>
        <tr>
          <th>給与</th>
          <td>[[${offer.min_salary}]]円〜[[${offer.max_salary}]]円</td>
        </tr>
        <tr>
          <th>
            <form th:action="@{/seeker/delete}" method="post">
              <input type="hidden" name="id" th:value="${offer.id}">
              <input class="btn btn-success" type="submit" value="取り消し" onClick="return confirm('応募を取り消しますか？')">
            </form>
          </th>
        </tr>
      </table>
    </div>
  </section>
</div>
</html>